.columns.is-gapless:not(:last-child) {
    margin-bottom: 0;
}
.block:not(:last-child), .box:not(:last-child), .breadcrumb:not(:last-child), .content:not(:last-child), .highlight:not(:last-child), .level:not(:last-child), .message:not(:last-child), .notification:not(:last-child), .pagination:not(:last-child), .progress:not(:last-child), .subtitle:not(:last-child), .table-container:not(:last-child), .table:not(:last-child), .tabs:not(:last-child), .title:not(:last-child) {
    margin-bottom: 0;
}
p{
	font-size: 18px;
}
.p1 {
    font-size: 24px;
}
.p2{
	font-size: 14px;
}
.pspacing{
	min-height: 196px;
}
/*custom font now*/
@font-face {
    font-family: 'Now Alt';
    src: url('fonts/NowAlt-Black.woff2') format('woff2'),
        url('fonts/NowAlt-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('fonts/NowAlt-Light.woff2') format('woff2'),
        url('fonts/NowAlt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('fonts/NowAlt-Regular.woff2') format('woff2'),
        url('fonts/NowAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now';
    src: url('fonts/Now-Light.woff2') format('woff2'),
        url('fonts/Now-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('fonts/NowAlt-Medium.woff2') format('woff2'),
        url('fonts/NowAlt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now';
    src: url('fonts/Now-Bold.woff2') format('woff2'),
        url('fonts/Now-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now';
    src: url('fonts/Now-Medium.woff2') format('woff2'),
        url('fonts/Now-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('fonts/NowAlt-Thin.woff2') format('woff2'),
        url('fonts/NowAlt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now';
    src: url('fonts/Now-Black.woff2') format('woff2'),
        url('fonts/Now-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now Alt';
    src: url('fonts/NowAlt-Bold.woff2') format('woff2'),
        url('fonts/NowAlt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now';
    src: url('fonts/Now-Thin.woff2') format('woff2'),
        url('fonts/Now-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Now';
    src: url('fonts/Now-Regular.woff2') format('woff2'),
        url('fonts/Now-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
h1,h2,h3,h4,h5{
	font-family: 'Now';
}
body{
	font-family: 'Now';
	line-height: 1.8rem;
}
.ml-7{
	margin-left: 4.5rem!important;
}

/*header start*/
#header{
	background: url(img/headerbg.jpg)no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero.is-amazing .navbar {
    margin-top: 20px;
}
.hero.is-info.is-amazing a.navbar-item {
    background-color: transparent;
}
.card.cblue {
    background-color: #3d2f5a;
    color: #fff;
}
.hero.is-info.is-amazing a.navbar-item {
    color: white;
    font-size: 1rem;
}	
a#logo>img {
    width: 110px;
    max-height: 56px;
}
.hero.is-large .hero-body {
    padding: 5rem 1.5rem 2rem 1.5rem;
}
div#appsicon>ul>li {
    display: inline-block;
    padding: 0 20px 0 0;
}

div#appsicon {
    padding-top: 20px;
}
/*header end*/
/*main body start*/
#about-us .subtitle, #about-us .title {
    color: #fff;
}
#simplest .subtitle, #simplest .title {
    color: #fff;
}
#how-is-for .subtitle, #how-is-for .title {
    color: #fff;
}
#try-now .subtitle, #try-now .title {
    color: #fff;
}
#header-bottom .subtitle, #header-bottom .title {
    color: #000;
}
.content .topc figure {
    margin-bottom: 0em;
}
.card.cblue h4 {
    color: #fff;
}
.card {
    border-radius: 50px;
}
section#about-us {
    background-color: #3d2f5a;
    color: #fff;
    margin-top: 30px;

}

section#try-now {
    background-color: #e83d30;
    color: #fff;
}
section#how-is-for {
    background-color: #006ca7;
    color: #fff;
}
section#simplest {
    background: #f6ae2d;
    color: #fff;
}
section#try-now {
    padding: 90px 0;
}
.button.is-rounded.is-custombtn {
    padding: 29px 120px;
    font-size: 24px;
}
.button.is-rounded.is-custombtn2 {
    padding: 0 32px;
    font-size: 24px;
    background-color: #3d2f5a;
    color: #fff;
}
section#how-is-for {
    padding: 100px 0;
}
h3.title,h2.title {
    font-weight: 500;
}
p.subtitle {
    font-weight: normal;
    line-height: 1.8rem;
}
h2.title {
    font-size: 3.5rem;
}
.h1{
font-size: 4.5rem;
}
.ml-10 {
    margin-left: 15rem !important;
}
#how-tilig-works{
	background: url(img/bg2.png)no-repeat center center;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
}
section#tilig-ftcr {
    padding: 90px 0;
}
/*main body end*/
/*footer start*/

#footer-top{
	background: url(img/footerbg.jpg)no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section#footer-bottom {
    background-color: #3d2f5a;
    color: #fff;
    text-align: center;
    padding: 28px 0;
}
div#footermenu>ul>li {
    display: inline-block;
    padding: 0 2px 0 6px;
}
section#footer-top {
    padding: 100px 0;
}
div#footermenu a {
    color: #fff;
}
/*footer end*/

/*responsive css start*/
	span.navbar-burger.burger {
    background-color: #fff;
    margin-right: 10px;
    border-radius: 5px;
}
@media all and (max-width: 768px){
.card {
    width: 65%;
    margin: 0 auto;
}
div#footerlogo {
    text-align: center;
}
section#footer-top {
    background: #006ca7;
}
div#footermenu {
    text-align: center;
}
#how-tilig-works{
	background: url(img/bg2-mobile.png)no-repeat center center;
}
.columns.is-vcentered #about-us-img {
    text-align: center;
}
}
/*responsive css end*/
